.password-generator {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  font-weight: 600;

  .password-input {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;

    input[type="text"] {
      flex-grow: 1;
      padding: 10px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 4px;
      margin-right: 5px;
      width: calc(100% - 40px);
    }
  

    button {
      position: absolute;
      top: 50%;
      right: 8px;
      border: none;
      transform: translateY(-50%);
      margin: 0;
      padding: 0;
      width: 35px;
      height: 35px;
      background-color: white;
      color: #333;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        background-color: #eee;
      }

      svg {
        width: 20px;
        height: 20px;
      }
    }
  }

  .password-options {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-top: 15px;
    
    .password-range {
      width: 100%;
      margin-top: 15px;

      label {
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        align-items: start;

        input[type="range"] {
          margin-top: 10px;
          width: 100%;
        }
      }
    }

    .password-config {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      margin-top: 15px;

      label {
        margin-bottom: 10px;
        display: flex;
        align-items: flex-start;

        input[type="checkbox"] {
          margin-right: 10px;
        }
      }
    }
  }

  button {
    width: 100%;
    margin-top: 15px;
    padding: 10px 20px;
    border: 1px solid #80808077;
    border-radius: 4px;
    background-color: #5BFFD8;
    color: #333;
    font-weight: 600;
    cursor: pointer;

    &:hover {
      background-color: #42c3a5;
    }
  }
}
